.todoListMain .container {
    max-width: 562px;
}

.todoListMain h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #010b13;
}

.todoListMain form {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0,0,0,.5)
}

.todoListMain .addTask {
    align-items: center;
}

.todoListMain input {
    padding: 11px;
    font-size: 24px;
    width: inherit;
    border: none;
    font-family: 'Rock Salt', cursive;
    background-color: #00000000;
    color: #010b13;
}

.todoListMain input:focus {
    outline: none;
}

.todoListMain .addButton {
    color: #010203;
    background-color: #00000000;
    font-size: 44px;
    line-height: 1;
    border: none;
    padding: 0px;
    transition: .5s ease-in-out;
}

.todoListMain .addButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.todoListMain .list-group .list-group-item {
    padding: 0px;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-top: 20px;
}

.todoListMain .list-group .list-group-item .row {
    align-items: center;
}

.todoListMain .list-group div textarea {
    width: inherit;
    background-color: #00000000;
    padding-left: 11px;
    border: 1px solid #ffffff00;
    resize: none;
    color: #010b13;
    font-family: 'Rock Salt', cursive;
    font-size: 24px;
    overflow: hidden;
    line-height: 1.5;
}

.todoListMain .list-group div textarea:focus {
    outline: none;
}
